@import 'bootstrap';

// table

.form-control {
    width: 7.25rem;
}

input.form-control {
    display: inline-block !important;
    margin: 0 !important;
}

td:nth-child(even) {
    border-right: 1px solid grey;
}

td:nth-last-child(1) {
    border-left: 1px solid grey;
}

// sums

.input-group {
    width: 16rem;
    margin: 0;
    margin-left: 5px;
}

.input-group p {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
}

.input-group p:nth-child(even) {
    border-left: 1px solid #ced4da;
}

.input-group p:nth-child(odd) {
    border-right: 1px solid #ced4da;
}