<%= form_with(model: @spreadsheet, html: {class: "form-signin"}, remote: true) do |form| %>
  <div class="hidden">
    <%= form.label :dividas_fixas, "dividas fixas" %>
    <%= form.text_field :dividas_fixas, placeholder: "Gasolina, Alimentação...", class: "form-control" %>
    <%= form.number_field :dividas_fixas_val, placeholder: "100,00", class: "form-control" %>

    <%= form.label :dividas_extras, "dividas extras" %>
    <%= form.text_field :dividas_extras, placeholder: "Acidente...", class: "form-control" %>
    <%= form.number_field :dividas_extras_val, placeholder: "100,00", class: "form-control" %>

    <%= form.label :renda_fixa_val, "renda fixa" %>
    <%= form.number_field :renda_fixa_val, placeholder: "100,00", class: "form-control" %>

    <%= form.label :renda_extra_val, "renda extra" %>
    <%= form.number_field :renda_extra_val, placeholder: "100,00", class: "form-control mb-1" %>
  </div>
    <%= form.submit "Novo", class: "btn btn-md btn-primary btn-block btn-new" %>
<% end %>
