<tbody>
      <% @spreadsheets.each do |spreadsheet| %>
      <tr>
      <%= form_with(model: spreadsheet, html: {class: "form-signin #{spreadsheet.id}" }, remote: true) do |form| %>
        <td>
          <%= form.text_field :dividas_fixas, placeholder: " ", class: "form-control" %>
        </td>
        <td>
          <%= form.number_field :dividas_fixas_val, placeholder: "R$ ", class: "form-control" %>
        </td>
        <td>
          <%= form.text_field :dividas_extras, placeholder: " ", class: "form-control" %>
        </td>
        <td>
          <%= form.number_field :dividas_extras_val, placeholder: "R$ ", class: "form-control" %>
        </td>
        <td>
          <%= form.number_field :renda_extra_val, placeholder: "R$ ", class: "form-control" %>
        </td>
        <td>
          <%= form.number_field :renda_fixa_val, placeholder: "R$ ", class: "form-control" %>
        </td>
        <td>
          <%= link_to 'x', spreadsheet_path(spreadsheet), method: :delete, remote: true %>
        </td>
      <% end %></tr>
      <% end %>
</tbody>