<div class="input-group mb-1">
  <div class="input-group-prepend">
    <span class="input-group-text">R$</span>
  </div>
  <p class="form-control text-muted poop">Receita: </p>
  <p class="form-control text-right text-success"><%= r = Spreadsheet.all.sum('renda_fixa_val + renda_extra_val') %></p>
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>
<div class="input-group mb-1">
  <div class="input-group-prepend">
    <span class="input-group-text">R$</span>
  </div>
  <p class="form-control text-muted poop">Despesa: </p>
  <p class="form-control text-right text-danger"><%= d = Spreadsheet.all.sum('dividas_fixas_val + dividas_extras_val')%></p>
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>
<div class="input-group mb-1">
  <div class="input-group-prepend">
    <span class="input-group-text">R$</span>
  </div>
  <p class="form-control text-muted">Total: </p>
  <p class="form-control text-right"><%= r - d %></p>
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>