<table class="table table-striped text-center">
   <thead>
      <tr>
         <th colspan="2">Dividas Fixas</th>
         <th colspan="2">Dividas Extras</th>
         <th>Renda Fixa</th>
         <th>Renda Extra</th>
      </tr>
   </thead>
   <%= render 'spreadsheets/tbody' %>
</table>

<div id="totals-wrapper">
  <%= render 'spreadsheets/update' %>
</div>