<h1 class="text-center mt-2">Nova entrada</h1>

<% if flash[:notice] -%>
  <p class="alert alert-info"><%= flash[:notice] %></p>
<% end -%>

<%= render 'form' %>

<%= link_to 'Voltar', spreadsheets_path %>
