<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<ul class="navbar-nav">
	<li class="nav-item text-light mr-3"><%= render 'spreadsheets/form' %></li>  
	<li class="nav-item text-light"></li>
</ul>
</nav>
